body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	line-height:1.42857143;
	color:#000000;
	font-weight:bold;
	background-color:#fff;
	}
div.comlink {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
	font-size:12px;
   /*  border: 3px solid #8AC007;  */
}
.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
map_canvas img{
	max-width:none!important;
	background:none!important;
	}